@import "../../styles/variables";

.itemDetails {
  background-color: $white;
  grid-template-areas:
          "img img img img img img img img img details details details details details"
          ". . . . . . . . . . . . . ."
          "desc desc desc desc desc desc desc desc desc . . . . .";
  margin-top: $marginS;

  span {
    color: $dark-grey;
  }

  img {
    grid-area: img;
    border-radius: 4px;
    margin-left: $marginM;
    margin-top: $marginM;
  }

  .details {
    grid-area: details;
    font-size: $fontXS;
    padding-top: $marginM;
    padding-right: $marginM;
  }

  .title {
    font-size: $fontL;
    font-weight: bold;
    margin-top: $marginS;
  }

  .price {
    font-size: $fontXXL;
    font-weight: bold;
    margin-top: $marginM;
  }

  button {
    background-color: $button;
    border: none;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    margin-top: $marginM;
    padding: 10px;
    width: 100%;
  }
}

.itemDescription {
  color: $grey;
  font-size: $fontS;
  grid-area: desc;
  padding-left: $marginM;

  .title {
    color: $black;
    font-size: $fontXL;
    margin-top: $marginM;
    margin-bottom: $marginM;
  }
}
