@import "../../styles/variables";

.bar {
  background-color: $primary;
}

.search {
  padding: 8px;

  img {
    vertical-align: middle;
  }

  input {
    border: none;
    border-radius: 2px 0 0 2px;
    color: $dark-grey;
    font-size: $fontM;
    height: 39px;
    margin-left: 50px;
    padding-top: 2px;
    text-indent: 20px;
    width: 86%;
  }

  input:focus-visible {
    outline: none;
  }

  button {
    background-color: $light-grey;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 9px;
    width: 46px;
  }
}

