@import "../../styles/variables";

.gridLogo {
  grid-area: logo;
}

.gridSearch {
  grid-area: search;
}

.search {
  background-color: $primary;
  padding: 8px;

  grid-template-areas: "LG . logo search search search search search search search search search . RG";

  img {
    vertical-align: middle;
  }

  input {
    border: none;
    border-radius: 2px 0 0 2px;
    color: $dark-grey;
    font-size: $fontM;
    height: 39px;
    padding: 2px 0 2px 0;
    text-indent: 20px;
    width: 95%;
  }

  input:focus-visible {
    outline: none;
  }

  button {
    background-color: $light-grey;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 5%;
  }
}

