@import "../../styles/variables";

.breadcrumb {
  color: $grey;
  font-size: $fontXS;
  padding-top: $marginS;

  .last {
    font-weight: bold;
  }

  .separator {
    margin-right: 10px;
    margin-left: 10px;
  }
}
