@import "../../styles/variables";

.gridBreadcrumb {
  grid-area: breadcrumb;
}

.breadcrumb {
  color: $grey;
  font-size: $fontXS;
  grid-template-areas: "LG . breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb . RG";
  padding-top: $marginS;

  .last {
    font-weight: bold;
  }

  .separator {
    margin-right: 10px;
    margin-left: 10px;
  }
}
