@import "../../styles/variables";

.itemCard {
  background-color: $white;
  grid-template-areas:
          "img img details details details details details details details details details city city city"
          "img img details details details details details details details details details . . .";
  font-size: $fontM;
  padding: $marginS $marginS $marginS;
  border-bottom: 1px solid $light-grey;

  .city {
    color: $grey;
    grid-area: city;
    font-size: $fontXXS;
    padding-top: $marginS;
  }
}

.itemCardDetails {
  grid-area: details;
  min-width: 700px;

  .title {
    max-width: 400px;
  }
}

.itemCardImg {
  border-radius: 4px;
  grid-area: img;
}

.itemCardPrice {
  font-size: $fontL;
  padding-top: $marginS;
  padding-bottom: $marginM;

  img {
    padding-left: 10px;
    padding-top: 4px;
  }
}
