@import "../../styles/variables";

.itemCard {
  font-size: $fontM;
  padding: $marginS $marginS $marginS;
  border-bottom: 1px solid $light-grey;

  .city {
    color: $grey;
    font-size: $fontXXS;
  }
}

.itemCardDetails {
  min-width: 700px;

  .title {
    max-width: 400px;
  }
}

.itemCardImg {
  border-radius: 4px;
  margin-right: $marginS;
}

.itemCardPrice {
  font-size: $fontL;
  padding-top: $marginS;
  padding-bottom: $marginM;

  img {
    padding-left: 10px;
    padding-top: 4px;
  }
}
